@import '../../../colors';

div#review-wrapper {
  padding-top: 50px;
  width: 100%;
  height: 100%;
}

div.container {
  margin: 0px auto;
  padding: 15px;
  background-color: #fff;
}

div#image-wrapper {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}
