<div id="home-wrapper">
  <div id="home-color-overlay">
    <div id="home-form" class="container">
      <div class="input-group">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h1 id="home-title">Freedom Of Review</h1>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter name or badge #">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Search</button>
              </span>
            </div>
            <span id="home-footer">
              Read and write reviews for your public officials!<br />
              Freedom Of Review Copyright 2017
            </span>
            <!-- /input-group -->
          </div>
          <!-- /.col-lg-6 -->
        </div>
      </div>
    </div>
  </div>
</div>
